.rectangle {
    width: 100vw;
    height: 90vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    padding: 40px 60px;
    font-size: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  